<?xml version='1.0' encoding='utf-8'?>
<root>
    <common>
        <his_dispaly_user>我方</his_dispaly_user>
        <his_dispaly_ai>电脑</his_dispaly_ai>
        <progam_title>成语接龙</progam_title>
        <progam_size_fix>0</progam_size_fix>
        <auto_timer_interval>0.01</auto_timer_interval>
    </common>
    <log>
        <path>$OPEN_SOURCE/chinese_string_up_puzzle/log</path>
        <size>10</size>
        <num>5</num>
        <console_level>DEBUG</console_level>
        <file_level>DEBUG</file_level>
    </log>
    <function>
        <word>1</word>
        <lzpinyin>1</lzpinyin>
        <pinyin>1</pinyin>
        <multi>1</multi>
        <battlesingle>1</battlesingle>
        <auto>1</auto>
        <promote>1</promote>
    </function>
</root>